body {
  padding: 2em 0;
}
#dynamic.loading {
  visibility: hidden;
}
.loading::before {
  visibility: visible;
  display: block;
  text-align: center;
  content: '⌛ Loading...';
  color: gray;
  font-size: large;
  padding-top: 3.5em;
}
#filter-form {
  padding: 0.5em;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  background-color: darkSlateGray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.2em 0.2em 0 black;
}
input {
  margin-right: 0.5em;
}
#show-all-clues {
  display: inline-block;
  width: 13em;
}
#show-all-clues::before {
  content: '⌦ ';
  visibility: hidden;
}
#show-all-clues.filter-is-set {
  cursor: pointer;
}
#show-all-clues.filter-is-set::before {
  visibility: visible;
}
#show-all-clues.filter-is-set > .accesskey, label[for] > .accesskey {
  text-decoration: underline;
}
label[for='containing']::before {
  content: ' 🔎 ';
}
label[for='by']::before {
  content: ' ☺ ';
}
label[for='since']::before {
  content: ' 📆 ';
}
#filter-form {
  color: white;
  text-shadow: -1px -1px black;
}
ul, li {
  list-style: none;
  padding: 0;
}
.image > a {
  text-decoration: none;
}
img[src*='//'], .image-sample {
  box-shadow: 0.2em 0.2em 0.2em grey;
  border: 1px solid white;
  background-color: lightgrey;
}
.image-sample {
  display: inline-block;
  padding: 0 1em;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
h1 ~ p:last-of-type {
  margin-bottom: -3em;
}
#clues {
  padding-top: 3.5em;
}
#clues, h1 {
  text-align: center;
}
h1 ~ p, #dynamic > p, #dynamic > div {
  padding: 0;
  margin: 0 15% 1em;
  text-align: justify;
}
#clues > li, .post-sample {
  display: inline-block;
  vertical-align: top;
  margin: 1em 1em;
  padding: 0 0.5em;
  background: radial-gradient(ellipse 30em 100% at top,
  transparent, transparent 20%, rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}
.post-sample {
  margin: 0;
  padding: 1em;
}
.post-sample p {
  padding: 0;
  margin: 0;
}
.clue {
  padding: 0 0.5em;
  margin: 0 auto;
  background-color: white;
  font-style: italic;
  margin-top: -0.75em;
  display: table;
  text-decoration: none;
  color: black;
}
.images > li {
  display: inline-block;
  margin: 1em;
}
.image p::before {
  content: ' ';
  display: block;
}
.image p, .sources, .sources > li {
  display: inline;
  padding: 0;
  margin: 0;
}
.image p {
  font-size: x-small;
}
.sources > li {
  font-size: small;
}
.sources > li::after {
  content: ' & ';
  font-size: x-small;
}
.sources > li:last-child::after {
  content: '';
}
#moved-notice {
  display: none;
}
#moved-notice.viewing-old-url {
  display: block;
}
body, .clue {
  background-image: url('data:image/png;base64,\
iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBg\
YGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2\
c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BU\
Fb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX\
0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TV\
ClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+I\
lPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErw\
SOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9\
P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZg\
M5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref\
1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b\
85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxo\
ZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJW\
UKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa\
1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqC\
wG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHN\
lG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg\
5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2\
Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWi\
itbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbf\
w177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTH\
i4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqF\
VijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei\
6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV\
5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTY\
ICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==');
}
